<!DOCTYPE html>
<html ng-app="ejemplosApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>http-request</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">

        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>

        <script src="js/app.js"></script>
        
    </head>    
    <body>

        <div class="container" ng-controller="mainCtrl">
            
            <h1>Demo PHP</h1>
            
            <hr>
            
            <form name="formulario" ng-submit="guardar_datos()">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" ng-model="formData.nombre" 
                           class="form-control">
                </div>
                <div class="form-group">
                    <label for="genero">Genero</label>
                    <select class="form-control" ng-model="formData.sexo">
                        <option value=""></option>
                        <option value="Hombre">Hombre</option>
                        <option value="Mujer">Mujer</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                    
            </form>
            
            <table class="table table-striped">
                <tr>
                    <th>Nombre</th>
                    <th>Sexo</th>
                </tr>
                <tr ng-repeat="profe in profesores">
                    <td>{{profe.nombre}} {{profe.snombre}}</td>
                    <td>{{profe.sexo}}</td>
                </tr>
            </table>




        </div><!-- fin del listadoCtrl -->

    </body>
</html>
